#divContainer {
  position: relative;
  width: 500px;
  height: 400px;
  background-color: rgb(225, 255, 225);
  border: 1px solid rgb(50, 50, 50);
  margin-bottom: 20px;
}

#divContent, #divPlaceholder {
  position: relative;
  width: 400px;
  height: 250px;
  top: 50px;
  left: 50px;
  background-color: rgb(225, 225, 255);
  border: 1px solid rgb(50, 50, 50);
}

#divContent video {
  position: relative;
  width: 80%;
  left: 10%;
}
